<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blogTitle|e }} - {{ pageTitle|e }}</title>
    <link rel="stylesheet" type="text/css" href="{{ toRoot }}css/screen.css">
</head>
<body>

<div class="header">
    <h1>{{ blogTitle|e }}</h1>
    <h2>{{ blogDescription|e }}</h2>

    <ul class="pages">
    {% if 'index.html' == activePage %}
        <li class="active"><a href="{{ toRoot }}index.html">Blog</a></li>
    {% else %}
        <li><a href="{{ toRoot }}index.html">Blog</a></li>
    {% endif %}

    {% for p in pagesList %}
        {% if p.fileName == activePage %}
            <li class="active"><a href="{{ toRoot }}{{ p.fileName }}">{{ p.title }}</a></li>
        {% else %}
            <li><a href="{{ toRoot }}{{ p.fileName }}">{{ p.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
