{% include 'header.twig' %}

<div class="content">
    <h2>{{ pageTitle|e }}</h2>
    <p>Keep up to date on what's going on with the eduVPN project!</p>

    <ul class="index">
    {% for post in postsList %}
        {% if post.publish %}
        <li>
            <a href="{{ toRoot }}blog/{{post.fileName|e }}">{{ post.title|e }}</a> <small>{{post.published|e }}</small>
        </li>
        {% endif %}
    {% endfor %}
    </ul>

</div> <!-- /content -->

{% include 'footer.twig' %}
